.display-container {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  text-align: center;
  width: 90%;
  height: 80%;
  margin: 20px auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow-y: scroll;
}

.display-container #calculation-display {
  margin-top: 40px;
  font-size: 25px;
  height: 100%;
}

.display-container #result-display {
  align-self: flex-end;
  padding: 10px;
}
